@import "tailwindcss";

:root {
  --orange: #FF8340;
  --white: #FAF1EC;
  --black: #1F1E21;
  --font-poppins: 'Poppins', sans-serif;
}

@theme {
  --color-orange: var(--orange);
  --color-white: var(--white);
  --color-black: var(--black);
  --font-poppins: var(--font-poppins);
}

@theme inline {
  --color-background: var(--black);
  --color-foreground: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
